{{ define "content" }}
<div>
    <form method="post" class="pure-form pure-form-aligned">
        <fieldset>
            <legend>change password</legend>
            <div class="pure-control-group">
            <label for="password">new password</label>
            <input id="password" name="password" type="password">
            </div>

            <div class="pure-control-group">
            <label for="password2">repeat password</label>
            <input id="password2" name="password2" type="password">
            </div>

            <div class="pure-controls">
            <button class="pure-button pure-button-primary" type="submit"> change password</button>
            <span class="pure-form-message-inline">{{ .Message }}</span>
            </div>
        </fieldset>
    </form>
</div>
{{ end }}