{{ define "content" }}
<div>
    <table>
        <thead>
            <tr><td colspan="2">Health checks</td></tr>
        </thead>
        <tbody>
            <tr>
                <td>DKIM</td>
                <td>
                    {{ if eq .DkimRecordShouldBe .DkimRecordIs }}
                        DKIM record is OK
                    {{ else }}
                        DKIM record is wrong<br>
                        Should be: <code>{{.DkimRecordShouldBe}}</code><br/>
                        Is:        <code>{{.DkimRecordIs}}</code>
                    {{ end }}
                </td>
            </tr>
            <tr>
                <td>SPF</td>
                <td>
                    {{ if eq .SpfRecordShouldBe .SpfRecordIs }}
                        SPF record is OK
                    {{ else }}
                        SPF record is wrong<br>
                        Should be: <code>{{.SpfRecordShouldBe}}</code><br/>
                        Is:        <code>{{.SpfRecordIs}}</code>
                    {{ end }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{ end }}