{{ define "content" }}
<div>
    <table>
        <thead>
            <tr><td colspan="2">Health checks</td></tr>
        </thead>
        <tbody>
            <tr>
                <td>Dkim</td>
                <td>
                    {{ if eq .TxtRecordShouldBe .TxtRecordIs }}
                        DKIM record is OK
                    {{ else }}
                        DKIM record is wrong<br>
                        Should be: <code>{{.TxtRecordShouldBe}}</code><br/>
                        Is:        <code>{{.TxtRecordIs}}</code>
                    {{ end }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{ end }}