{{ define "content" }}
<div class="grid">
    <table class="hoverable">
        <thead>
            <tr>
                <th>From</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            {{ $mbxName := .Mailbox.Name }}
            {{ range .Messages }}
            <tr>
                <td>{{ .From }}</td>
                <td><a href="/mailbox/{{$mbxName}}/{{.Id}}">{{ .Subject }}</a></td>
            </tr>
            {{end}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">{{ len .Messages }} messages</td>
            </tr>
        </tfoot>
    </table>
</div>
{{ end }}