<nav>
    <ul>
        {{/*Not doing webmail yet*/}}
        {{/*{{ range .Mailboxes }}*/}}
            {{/*<li><a href="/mailbox/{{.Name}}">{{.Name}}</a></li>*/}}
        {{/*{{ end }}*/}}
        {{ if .CurrentUser.Admin }}
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/healthChecks">Health Checks</a></li>
        <li><a href="/admin/security">Security</a></li>
        {{ end }}
        <li><a href="/changePassword">Change Password</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>