<nav class="pure-menu-horizontal">
    <ul class="pure-menu-list">
        {{/*Not doing webmail yet*/}}
        {{/*{{ range .Mailboxes }}*/}}
            {{/*<li><a class="pure-menu-link"  href="/mailbox/{{.Name}}">{{.Name}}</a></li>*/}}
        {{/*{{ end }}*/}}
        {{ if .CurrentUser.Admin }}
        <li class="pure-menu-item"><a class="pure-menu-link" href="/admin/users">users</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/admin/healthChecks">health checks</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/admin/security">security</a></li>
        {{ end }}
        <li class="pure-menu-item"><a class="pure-menu-link" href="/changePassword">change password</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/logout">logout</a></li>
    </ul>
</nav>