{{ define "content" }}
<div>
    <h2>Current users</h2>
    <table>
        <thead>
        <tr>
            <td>Username</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {{ range .Users }}
            <tr>
                <td>{{.Username}}</td>
                <td>
                    <form action="deleteUser">
                        <input type="hidden" name="username" value="{{.Username}}">
                        {{ if eq .Username $.CurrentUser.Username}}
                            <input disabled type="submit" value="Delete">
                        {{ else }}
                            <input type="submit" value="Delete" placeholder="You cannot delete yourself">
                        {{ end }}
                    </form>
                </td>
            </tr>
        {{ end }}
        </tbody>
    </table>
    <h2>Add a user</h2>
    <form action="addUser">
        <label>Username
            <input name="username">
        </label>
        <label>Password
            <input type="password" name="password">
        </label>
        <input type="submit" value="Add">
    </form>
</div>
{{ end }}