{{ define "content" }}
<div>
    <h2>users</h2>
    <table class="pure-table pure-table-bordered pure-table-striped">
        <thead>
        <tr>
            <td>Username</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {{ range .Users }}
            <tr>
                <td>{{.Username}}</td>
                <td>
                    <form class="pure-form" action="deleteUser">
                        <input type="hidden" name="username" value="{{.Username}}">
                        {{ if eq .Username $.CurrentUser.Username}}
                            <span class="pure-form-message">You cannot delete yourself</span>
                        {{ else }}
                            <button class="pure-button" type="submit">Delete</button>
                        {{ end }}
                    </form>
                </td>
            </tr>
        {{ end }}
        </tbody>
    </table>
    <form class="pure-form pure-form-aligned" action="addUser">
        <fieldset>
            <legend>add user</legend>

            <div class="pure-control-group">
            <label for="new-user-username">Username</label>
            <input id="new-user-username" name="username">
            </div>

            <div class="pure-control-group">
            <label for="new-user-password">Password</label>
            <input id="new-user-password" type="password" name="password">
            </div>

            <div class="pure-controls">
                <button class="pure-button pure-button-primary" type="submit">Add</button>
            </div>
        </fieldset>
    </form>
</div>
{{ end }}