{{ define "content" }}
<div>
    <form method="post" class="pure-form pure-form-aligned">
        <fieldset>
            <legend>change password</legend>
            <div class="pure-control-group">
                <label for="oldpassword">old password</label>
                <input id="oldpassword" name="oldpassword" type="password">
            </div>

            <div class="pure-control-group">
                <label for="newpassword">new password</label>
                <input id="newpassword" name="newpassword" type="password">
            </div>

            <div class="pure-control-group">
                <label for="newpassword2">repeat new password</label>
                <input id="newpassword2" name="newpassword2" type="password">
            </div>

            <div class="pure-controls">
                <button class="pure-button pure-button-primary" type="submit"> change password</button>
                <span class="pure-form-message-inline">{{ .Message }}</span>
            </div>
        </fieldset>
    </form>
</div>
{{ end }}