<!doctype HTML>
<html>
    <head>
        <title>Henrymail administration interface</title>
        <link rel="stylesheet" href="/assets/styles.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <h2>Please log in</h2>
        <form action="/login" method="post">
            <label>
                Email
                <input type="email" name="email">
            </label>
            <label>
                Password
                <input type="password" name="password">
            </label>
            <input type="submit" value="Log in">
            <p>{{ .Error }}</p>
        </form>
    </body>
</html>