:root {
    --dark-background: #272822;
    --light-background: #49483E;
    --text: #f8f8f2;
    --col1: #ff6188;
    --col2: #a9dc76;
    --col3: #ffd866;
    --col4: #fc9867;
    --col5: #ab9df2;
    --col6: #78dce8;
}
