:root {
    --dark-background: #272822;
    --light-background: #49483E;
    --text: #f8f8f2;
    --col1: #ff6188;
    --col2: #a9dc76;
    --col3: #ffd866;
    --col4: #fc9867;
    --col5: #ab9df2;
    --col6: #78dce8;
}

/** GLOBAL **/
html {
    margin-left: 10%;
    margin-right: 10%;
    background: var(--dark-background);
    color: var(--text);
}

input {
    background: var(--light-background);
    color: var(--text);
    display: block;
}

/** HEADER **/
header h1 {
    text-align: center;
}

/** NAV **/
nav li {
    display: inline;
    text-align: center;
    padding: 8pt;
}

nav li:nth-child(6n) a {
    color: var(--col1);
}
nav li:nth-child(6n+1) a {
    color: var(--col2);
}
nav li:nth-child(6n+2) a {
    color: var(--col3);
}
nav li:nth-child(6n+3) a {
    color: var(--col4);
}
nav li:nth-child(6n+4) a {
    color: var(--col5);
}
nav li:nth-child(6n+5) a {
    color: var(--col6);
}

/** TABLES **/
table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}
th {
    text-align: left;
}
tr {
    padding: 1em;
}
th, tr:nth-child(2n) {
    background: var(--light-background);
}