html {
    background-color: black;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

input {
    background-color: midnightblue;
    color: white;
    display: block;
}

input[type=submit] {
    background-color: darkred;
    color: white;
}

header h1 {
    text-align: center;
}

nav li {
    display: inline;
    text-align: center;
    background-color: midnightblue;
    padding: 8pt;
}

nav *:visited {
    color: white;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.grid span {
    padding: 8px 4px;
    border-left: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.row {
    display: contents;
}

.row:hover {
    background-color: darkred;
}

.row:nth-child(even) {
    background-color: midnightblue;
}

.row.head, .row.foot {
    font-weight: bold;
}

.foot-cell {
    grid-column: 1 / 3;
}
